<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Blog Book</title>
</head>
<body>
  <div class="err flex col align-items">
    <h1>Server Error</h1>
    <p>We're sorry, something went wrong</p>
    <a href="/dashboard" class="btn">Go to Dashboard</a>
  </div>
</body>
</html>