<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Book</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="login-hero-section">
        <div class="login-page-wrapper">
            <h1 class="login-header">Blog <i class="fa-solid fa-book-open-reader"></i> Book</h1>
            <p class="login-text">create your public and private blog's</p>
            <a href="/auth/google" class="login-button">   
                    Login with google
                    <i class="fa-brands fa-google"></i>
            </a>
        </div>
    </div>
</body>

</html>