<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>story</title>
</head>

<body>
    <div class="story-profile-wrapper flex justify-items align-items col ">
        <div class="story-profile-container flex ">
            <% for(var i in stories) %>
                <%{%>
                    <!-- <div class="story-card"> -->
                    <div class="story-txt">
                        <h2>
                            <%=stories[i].title %>
                        </h2>
                        <p>
                            <%=stories[i].body %>.
                        </p>
                    </div>

                    <div class="story-user-prof flex ">
                        <img src="<%=stories[i].user.image %>" alt="" srcset="">
                        <a href="" class="creatd-by-txt">
                            <%=stories[i].user.displayName %>
                        </a>
                    </div>
                    <!-- </div> -->
                <%}%>
        </div>
    </div>
</body>

</html>